.container{
	display: flex;
	flex-direction: row;
	height: 1%;
	justify-content: flex-end;
	align-items:center;
}

.child{
	width: 50%;
	height: 100px;
	background-color: tomato;
	border: 1px solid black;
}